body {
    display: flex;
    width: 1179px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 0;
    color: azure;
}


.container-main {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    padding: 10px;
}

.container-one  {
    display: flex;
    flex-direction: column;
    grid-row: span 4;
    border: 5px solid brown;
    margin-left: -25px;
    border-radius: 15px;
    /* align-items: center; */
}

.personal-info > h3, p, .technical-skills > h3, p, .interests > h3, p {
    padding-left: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.personal-info > p, .technical-skills > p, .interests > p {
    margin-bottom: 35px;
    color: black;
}

.about-me {
    background-color: brown;
    height: max-content;
    margin-top: 30px;
    margin-right: -40px;
    padding: 25px;
    border-radius: 15px;
}

.work-experience> p {
    margin-bottom: 30px;
}

.work-experience, .courses, .education {
    padding: 0 25px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 50px;
    margin-top: 0;
    color: antiquewhite;
}

h2 {
    font-size: 35px;
    font-family: 'Merriweather', serif;
    color: brown;
}

.about-me > p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

h3 {
    font-size: 20px;
    color: beige;
}

.svg {
    margin-left: 35px;
    height: 20px;
}

.work-experience > h3, h4, .courses > h2, h3, p, .education > h2, p  {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: brown;
}

li {
    list-style: none;
    font-size: 20px;
}

.courses > p, .education > p {
    padding: 0;
    color: black;
}

.work-experience > p {
    padding-left: 10px;
    color: black;
}

.passport {
    margin-top: 20px;
    margin-left: 25px;
    padding-bottom: 90px;
}

.about-me > h3 {
    color: beige;
}







